html, body {
  height: 100%;
  margin:0;
  font-family: 'Outfit', sans-serif;
}

main{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0D1A2D;
}

.preview-card{
  max-width: 302px;
  padding: 24px 24px 32px 24px;
  border-radius: 15px;
  background-color: #15273F;
  display: flex;
  flex-direction: column;
}

.hidden-div{
  height: 302px;
  width: 302px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;  
}

.background-img{
  border-radius: 8px;
  width: 302px;
  height: 302px;
}

.hidden-icon{
  width: 45px;
  height: 45px;
  position: absolute;
  opacity: 0;
  border-radius: 8px;
  padding: auto;
  background-color: #00fff74a;
}

.main-headline{
  color:#ffffff;
  font-size: 22px;
  font-weight: 600;
  margin: 24px 0 16px 0;
}

.description{
  font-size: 18px;
  color: #8bacd9;
  font-weight: 300;
  line-height: 26px;
  margin: 0;
  margin-bottom: 24px;
}

.coins-days-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: #2F4159 solid 1px;
  padding-bottom: 24px;
}

.coins-container, .days-container{
  display: flex;
  gap: 7px;  
}

.eth-icon{
  margin:0;
  width: 11px;
  height: 18px
} 

.clock-icon{   
  margin:0;
  width: 16px;
  height: 16px;
} 

.eth-quantity{
  color: #00fff7;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
}

.days-left-text{
  font-weight: 400;
  color: #8b9fda;
  font-size: 16px;
  margin: 0;
}

.profile-section{
  display: flex;
  margin-top: 16px;
  align-items: center;
}

figure{
  margin: 0;
  padding: 0;
  width: fit-content;
  
}

.profile-photo{
  margin:0;
  border-radius: 50%;
  border: solid 1px #ffffff;
  width: 33px;
  box-sizing: border-box;
} 

.createdBy{
  font-weight: 400;
  margin-left: 16px;
  color: #8b9fda;
}

.creators-name{
  color: #ffffff;
}

/* Active states */
.creators-name:hover{
  color: #00fff7;    
}

.main-headline:hover{
  color: #00fff7;
}

.hidden-icon:hover{  
  opacity: 1;
}

/* Responsivity */
@media only screen and (max-width: 375px) {
  .preview-card{
    max-width: 278px;
    padding: 24px;
  }

  .background-img{
    width: 278px;
    height: 278px;
  }

  .hidden-div{
    height: 278px;
    width: 278px;
  }

  .main-headline{
    margin: 24px 0 12px 0;
  }

  .description{
    margin-bottom: 17px;
  }

  .eth-quantity, .days-left-text{
    font-size: 15px;
  }

  .coins-days-container{
    padding-bottom: 16px;
  }
}